.reset-wrapper {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 55px;
  background: rgb(217, 223, 223);
  border-radius: 10px;
  box-shadow: 1px 1px 8px -3px #000;
  text-align: center;
  padding: 10px 10px 0 0;
  font-size: 23px;
}
.reset-input {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  width: 250px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.reset-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background: #c49c91;
  cursor: pointer;
}
