.navBar {
  display: flex;
  flex-direction: row;
  background-color: #a9bff1;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(125, 114, 114);
  align-items: center;
  min-height: 50px;
  padding-left: 150px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navBar a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-right: 120px;
}

.navBar a:hover {
  text-decoration: underline;
}

.logout {
  float: right;
  position: relative;
  bottom: 32px;
}

.logout.visible {
  display: block;
}

.logout.hidden {
  display: none;
}

.all-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Ovo možete prilagoditi prema potrebi za razmakom između proizvoda */
}

.itemCard {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 400px;
  max-height: 850px;
  margin: 25px;
  box-shadow: 10px 10px 10px 10px rgb(217, 223, 223);
}

.itemCard-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.itemCard-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.itemCard-body {
  margin: 10px;
}

.itemCard-price {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

.itemCard:hover {
  background-color: rgb(217, 223, 223);
}

.itemCard-cart {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.all-restaurants {
  margin: 20px;
}

.restaurantCard {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 950px;
  max-height: 850px;
  margin: 25px;
  box-shadow: 10px 10px 10px 10px rgb(217, 223, 223);
}

.restaurantCard :hover {
  background-color: rgb(217, 223, 223);
}

.restaurantCard-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurantCard-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.restaurantCard-body {
  margin: 10px;
}

.restaurantCard-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}
.categoriesCard {
  display: flex;
  flex-direction: column; /* Postavite orijentaciju na kolonu da biste stavili elemente jedan ispod drugog */
  justify-content: center; /* Poravnavanje po vertikali - na sredinu stranice */
  align-items: center; /* Poravnavanje po horizontali - na sredinu stranice */
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 600px;
  max-height: 850px;
  margin: auto; /* Automatsko postavljanje margina na auto će centrirati karticu na stranici */
  margin-bottom: 25px;
  box-shadow: 10px 10px 10px 10px rgb(217, 223, 223);
  transition: transform 0.3s ease; /* Postavite tranziciju za transformaciju */
}

.categoriesCard :hover {
  transform: scale(1.05); /* Uvećajte element kada se približi miš */
}

.btn {
  background-color: #c49c91;
  color: rgb(51, 45, 45);
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border-width: 0px;
  width: 55px;
  height: 55px;
}

.cart-container {
  margin: 20px;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.Foot {
  padding: 4px;
  color: #eff1f3;
  background-color: #5d7b9e;
  font-weight: bold;
}

.Foot .copyright {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 10px;
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 0;
}

.contactTitle {
  font-size: 25px;
  text-align: center;
}

.formClass {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 450px;
}

.input__container input,
textarea {
  padding: 25px 25px;
  border-radius: 5px;
  font-size: 25px;
  border: 1px solid #555;
  resize: none;
}

.buttonContact {
  padding: 20px 100px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  background: #c49c91;
  color: black;
  cursor: pointer;
}

.cartPage {
  text-align: center;
}

.buttonComponent {
  padding: 10px 20px;
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background: rgb(56, 137, 137);
  cursor: pointer;
}

.cartPage {
  text-align: center;
}

.login-wrapper {
  width: 400px;
  height: 550px;
  margin: 30px auto 0;
  background: rgb(217, 223, 223);
  border-radius: 10px;
  box-shadow: 1px 1px 8px -3px #000;
  text-align: start;
  padding: 10px 10px 0 0;
  font-size: 23px;
}
.login-wrapper form {
  padding: 10px;
  text-align: center;
}

.input-form {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.button-ToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  padding: 10px;
  font-size: 35px;
  display: flex;
  background-color: #c49c91;
  transition: background-color 1s ease;
}

.button-ToTop:hover {
  background-color: rgb(56, 137, 137);
}

.emptyCart {
  width: 1000px;
}

#map-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#map {
  height: 400px;
  width: 100%;
}

.button-container {
  margin-bottom: 20px;
  margin-top: 15px;
}

.button-container button {
  padding: 10px 20px;
  margin-left: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c49c91;
  color: black;
  font-size: 16px;
}

.button-container button:hover {
  background-color: rgb(56, 137, 137);
}

.currency-select {
  font-size: 20px;
}
